
/* From Uiverse.io by KitoC */ 
button {
    --black-hole-color-2: rgb(242, 122, 42);
    --black-hole-color: rgb(230, 148, 93);
    font-size: 17px;
    position: relative;
    background: #212121;
    padding: 0.5em;
    border: 2px solid var(--black-hole-color);
    border-radius: 8px;
  }
  
  button:hover {
    border: 2px solid var(--black-hole-color-2);
    animation: alert 1s alternate infinite linear;
  }
  
  .blackhole {
    padding: 3em;
    background-color: black;
    color: var(--black-hole-color);
    position: absolute;
    animation: wiggle 3s alternate-reverse infinite linear;
    top: -1em;
    left: -8em;
  }
  
  .blackhole, .blackhole::after, .blackhole::before, .blackhole .ring, .blackhole .ring::after {
    content: "";
    border: 2px solid var(--black-hole-color);
    border-radius: 50%;
    box-shadow: 0 0 3em,
                0 0 1em;
  }
  
  .blackhole::after, .blackhole::before {
    animation: writhe 3s alternate-reverse infinite linear;
  }
  
  .blackhole::before {
    position: absolute;
    width: calc(100% + 0.5em);
    height: calc(100% + 0.5em);
    top: -9px;
    left: -7px;
  }
  
  .blackhole::after {
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -6px;
    left: -5px;
  }
  
  .blackhole .ring, .blackhole .ring::after {
    content: "";
    position: absolute;
    left: -50%;
    width: 200%;
    border-top: none;
    height: 2em;
    border-width: 5px;
    box-shadow: 0px 5px 10px var(--black-hole-color);
  }
  
  .blackhole .ring, .blackhole .ring::after {
    animation: ring-writhe 3s alternate-reverse infinite linear;
  }
  
  .blackhole .block {
    position: absolute;
    z-index: 90;
    content: "";
    background-color: black;
    top: -20%;
    left: 25%;
    width: 50%;
    height: 10px;
  }
  
  .blackhole .ring::after {
    width: 110%;
    left: -8%;
  }
  
  .blackhole .rocket {
    fill: white;
    height: 30px;
    transform: rotate(-140deg);
    animation: idle 1s alternate-reverse infinite linear;
  }
  
  .blackhole .rocket-path {
    position: absolute;
    top: -60px;
    right: -60px;
  }
  
  button:hover .rocket-path, button:focus .rocket-path {
    z-index: 100;
    animation: engine-start 0.2s alternate-reverse infinite linear;
  }
  
  button:focus  .rocket-path {
    animation: descend 1.2s linear forwards, 
               descend-dissapear 0.1s linear forwards;
    animation-delay: 0s, 1s;
  }
  
  button .text {
    display: flex;
    color: white;
  }
  
  @keyframes idle {
    from {
      transform: rotate(-130deg);
    }
  
    to {
      transform: rotate(-140deg);
    }
  }
  
  @keyframes alert {
    from {
      box-shadow: 0 0 0 var(--black-hole-color);
    }
  
    to {
      box-shadow: 0 0 8px var(--black-hole-color);
    }
  }
  
  @keyframes engine-start {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.05);
    }
  }
  
  @keyframes descend {
    from {
      top: -60px;
      right: -60px;
      transform: scale(1);
    }
  
    to {
      top: -10px;
      right: -10px;
      transform: scale(0.8);
    }
  }
  
  @keyframes descend-dissapear {
    from {
      top: -10px;
      right: -10px;
      transform: scale(1);
    }
  
    to {
      top: 20px;
      right: 20px;
      transform: scale(0);
    }
  }
  
  @keyframes writhe {
    from {
      box-shadow: -4px -3px 35px var(--black-hole-color-2),
                -4px -3px 5px;
      transform: translateX(-1px) scale(1);
    }
  
    to {
      box-shadow: 4px 3px 35px,
                4px 3px 5px var(--black-hole-color-2);
      transform: translateX(1px) scale(0.95);
    }
  }
  
  @keyframes wiggle {
    from {
      transform: translateX(-3px);
    }
  
    to {
      transform: translateX(3px);
    }
  }
  
  @keyframes ring-writhe {
    from {
      transform: translateX(-2px) scale(1);
      box-shadow: -2px 5px 10px var(--black-hole-color);
    }
  
    to {
      box-shadow: 2px 5px 10px var(--black-hole-color-2);
      transform: translateX(2px) scale(0.95);
    }
  }
  
  .black-screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999; /* Ensure it's on top */
  }