.introduction {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #FAF9F6;
    svg {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path {
            fill: #FAF9F6;
        }
    }
    p {
        display: flex;
        color: #141516;
        font-size: 42px;
        align-items: center;
        position: absolute;
        z-index: 1;
        span {
            display: block;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}
