.leafletContainer {
    width: 100%;
    height: 500px;
    opacity: 0;
    animation: fadeInLeaflet 1.5s ease forwards 2s;
  }
  
  @keyframes fadeInLeaflet {
    to { opacity: 1; }
  }
  
  .showMap {
    overflow: hidden;
    position: relative;
    width: inherit;
    height: 500px;
    animation: fadeInShadow 1.5s ease forwards 2s;
  }
  
  @keyframes fadeInShadow {
    0% {
      box-shadow: none;
    }
    100% {
      box-shadow: 0 0 25px 20px rgba(0, 0, 0, .7);
    }
  }
  
  .detailsOnMap {
    position: relative;
    width: 100%;
  }
  
  #map {
    position: absolute;
    top: 0;
    box-sizing: content-box;
    height: 500px;
    width: 100%;
  }
  
  .paperMap {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    perspective: 150rem;
    opacity: 0;
  }
  
  .mapSide {
    box-sizing: content-box;
    width: 25vw;
    height: 500px;
    background-color: rgba(0, 0, 0, .2);
    outline: 1px solid transparent;
    overflow: hidden;
  }
  
  .mapSide:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2.5rem rgba(233, 229, 220, .15);
    content: "";
  }
  
  .mapSide:nth-of-type(1) {
    border: none;
    background-position: 0 0;
    transform: translateX(12.625vw) rotateY(-60deg);
  }
  
  .mapSide:nth-of-type(2) {
    border: none;
    background-position: 12.5vw 0;
    transform: translateX(6.25vw) rotateY(-30deg);
  }
  
  .mapSide:nth-of-type(3) {
    border: none;
    background-position: 37.5vw 0;
    transform: translateX(-6.25vw) rotateY(30deg);
  }
  
  .mapSide:nth-of-type(4) {
    border: none;
    background-position: 50vw 0;
    transform: translateX(-12.625vw) rotateY(60deg);
  }
  
  .caption {
    text-align: center;
  }
  
  .caption svg {
    width: 100px;
    fill: #fff;
  }
  
  .caption a {
    color: #FFCC00;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }