.body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.blockk {
    position: relative;
    margin: 5% auto 5%;
    width: 50%;
    border-radius: 0.4cm;
    height: 380px;
    z-index: 2;
}

.glow::before,
.glow::after {
    content: '';
    position: absolute;
    border-radius: 0.4cm;
    left: 35px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% - 70px);
    height: calc(100% + 37px);
    z-index: -2;
    animation: animate 20s linear infinite;
}

@keyframes animate {

    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }


}

.glow::after {
    filter: blur(20px);
    /* opacity: 0.99; */
}

/* 
.buttonn{
    position: relative;
    z-index: 0;
}
.overlay{
    width: 100%;
    background: linear-gradient(45deg,
    #ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#ff00c8,#ff0000
    );
    position: relative;
    background-size: 600%;
    z-index: 100;
} */